<html>
<body>
<form action="/products/new" method="post">
  <label for="new_product">Product name</label>
  <input type="text" name="new_product">
  <button type="submit">Create Product</button>
</form>
</body>
</html>